*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.text-white{
    color:white;
}
.text-center{
    text-align:center;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.container-fluid{
    width:100%;
    max-width:100%;
}

.row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.row > [class^='col']{
    flex-grow:0;
    flex-shrink:0;
    flex-basis:auto;
}
.row > .col{
   
    flex-grow:1;
    max-width:100%;
}

.row > .col-1{
    flex-basis:calc((100% / 12) * 1);
    max-width:calc((100% / 12) * 1) ;
}
.row > .col-2{
    flex-basis:calc((100% / 12) * 2);
    max-width:calc((100% / 12) * 2);
}
.row > .col-3{
    flex-basis:calc((100% / 12) * 3);
    max-width:calc((100% / 12) * 3);
}
.row > .col-4{
    flex-basis:calc((100% / 12) * 4);
    max-width:calc((100% / 12) * 4);
}
.row > .col-5{
    flex-basis:calc((100% / 12) * 5);
    max-width:calc((100% / 12) * 5);
}
.row > .col-6{
    flex-basis:calc((100% / 12) * 6);
    max-width:calc((100% / 12) * 6);
}
.row > .col-7{
    flex-basis:calc((100% / 12) * 7);
    max-width:calc((100% / 12) * 7);
}
.row > .col-8{
    flex-basis:calc((100% / 12) * 8);
    max-width:calc((100% / 12) * 8);
}
.row > .col-9{
    flex-basis:calc((100% / 12) * 9);
    max-width:calc((100% / 12) * 9);
}
.row > .col-10{
    flex-basis:calc((100% / 12) * 10);
    max-width:calc((100% / 12) * 10);
}
.row > .col-11{
    flex-basis:calc((100% / 12) * 11);
    max-width:calc((100% / 12) * 11);
}
.row > .col-12{
    flex-basis:100%;
    max-width: 100%;
}
/* offset */
.offset-0{
    margin-left: 0;

}
.offset-1{
    margin-left:calc((100% / 12) * 1);
}
.offset-2{
    margin-left:calc((100% / 12) * 2);
}
.offset-3{
    margin-left:calc((100% / 12) * 3);
}
.offset-4{
    margin-left:calc((100% / 12) * 4);
}
.offset-5{
    margin-left:calc((100% / 12) * 5);
}
.offset-6{
    margin-left:calc((100% / 12) * 6);
}
.offset-7{
    margin-left:calc((100% / 12) * 7);
}
.offset-8{
    margin-left:calc((100% / 12) * 8);
}
.offset-9{
    margin-left:calc((100% / 12) * 9);
}
.offset-10{
    margin-left:calc((100% / 12) * 10);
}
.offset-11{
    margin-left:calc((100% / 12) * 11);
}
.offset-12{
    margin-left:100%;
}


/* classi flexbox */
.d-flex{
    display:flex;
}
/* justify-content-classes */

.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-evenly{
    justify-content: space-evenly;
}

/* align-items-classes */

.align-it-center{
    align-items:center;
}
.align-it-end{
    align-items:flex-end;
}
.align-it-start{
    align-items:flex-start;
}
.align-it-stretch{
    align-items:stretch;
}
.align-it-baseline{
    align-items:baseline;
}

.align-self-start{
align-self: flex-start;
}
.align-self-center{
    align-self:center;
}
.align-self-end{
    align-self: flex-end;
}
.flex-flow{
    flex-flow:center;
}
.margin-b-50{
    margin-bottom:50px;
}
