.col-1 , .col-2 , .col-3 , .col-4 , .col-5 , .col-6 , .col-7 , .col-8 , .col-9 , .col-10 , .col-11 , .col-12{
    background-color:blue;
    border:1px solid white;
    min-height:100px;
}
.nested{
    color:green;
    background-color: green;
    width:80%;
    height:60px;
}
.offset-1 , .offset-2 , .offset-3 , .offset-4 , .offset-5 , .offset-6 , .offset-7 , .offset-8 , .offset-9 , .offset-10 , .offset-11{
    min-height:100px;
}
